
<% if logged_in?%>
<h1>Choose a Topic</h1>

  <% @topics.each do |topic| %>
   <br>
      <a  href="/topics/<%=topic.id%>"><%= topic.text %></a>
     <br>
  <% end %>
   <br></br>
<p><a href="/logout">Log Out</a></p>
<% else %>
<% redirect to "/failure" %>
<% end %>