<h1>Create a new Topic</h1>

<form action="/topics" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="topic[name]">

  <br></br>

  <label>Choose an existing post:</label>

  <br></br>

  <br></br>

  <label>and/or, create a new post:</label>
  <br></br>
  <label>name:</label>
    <input type="text" name="post[name]"></input>
    <br></br>

  <input type="submit" value="Create Topic">
</form>
