<% if logged_in?%>

<form action="/topics" method="POST">
  <h1>Create a new Topic</h1>
   

   <br></br>
  <label>Text:</label>


  <input type="Text" name="topic[text]">
  <br></br>
   <br>
  <label>Create a new post:</label>
  <br>
 
  <label>Text:</label>
    <input type="text" name="post[text]"></input>
<input type="hidden" name="topic[user_id]" value="<%=current_user.id%>"></input>
<input type="hidden" name="post[user_id]" value="<%=current_user.id%>"></input>
  <input type="submit" value="Create Topic">
</form>
</br>
 <p><a href="/topics">Go Back</a></p>
<p><a href="/logout">Log Out</a></p>
<% else %>
<% redirect to "/failure" %>
<% end %>