<h1>Create a new Topic</h1>

<form action="/topics" method="POST">
  <label>Text:</label>

  <br></br>

  <input type="text" name="topic[text]">

  <br></br>

  <label>Create a new post:</label>
  <br></br>
  <label>text:</label>
    <input type="text" name="post[text]"></input>
    <br></br>

  <input type="submit" value="Create Topic">
</form>
