<% if logged_in?%>

<h1><%=@topic.text%></h1>
<h4>Posts:</h4>
<ul>
  <%@topic.posts.each do |the_post|%>
  <li><%=the_post.text%></li>
  <%end%>
</ul>
<% else %>
<% redirect to "/failure" %>
<% end %>