<%require 'pry'%>
<% if logged_in?%>

    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
   
    <form action="/posts/<%=@topic.id%>" method="post">
      <label>Choose a commit to edit:</label>
       <br>
     <% @posts.each do |topic| %>
    
  <input type="radio" name="post[topic_id]" value="<%=topic%>" ></input>
    <label><%=topic.text%></label>
     <br>
  <% end %>
     <br><br>
       <input type="text" name="post[text]"></input>
        <br>
      <input type="submit" value="Update Post">
    </form>
  </body>
<% else %>
<% redirect to "/failure" %>
<% end %>