<h1>Create a new Post</h1>

<form action="/posts" method="post">
  <label>Name:</label>
  <br>
  <input type="text" name="post[name]" id="post_name">
  <br>
  <label>Choose an existing topic:</label>
  <br>
  <% @topics.each do |topic| %>
    <input type="radio" name="post[topic_id]" value="<%=topic.id%>" id="<%=topic.id%>"><%= topic.name %></input>
  <% end %>
  <br>
  <label>and/or create an topic:</label>
  <br>
  <label>Name:</label>
  <br>
  <input type="text" name="topic[name]" id="topic_name">
  <br>
  <input type="submit" value="Create Post">
</form>
